<a href="https://colab.research.google.com/github/Hemanthk408/Car_rate_prediction/blob/main/Cars_Rate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#file mearge

In [1]:

import pandas as pd


B=pd.read_json("/content/car_details_bengalur.json")
C=pd.read_json("/content/car_details_chennai.json")
N=pd.read_json("/content/car_details_New_Delhi.json")
J=pd.read_json("/content/car_details_jaipur.json")
P=pd.read_json("/content/car_details_pune.json")

pd.set_option("display.max_columns",None)

# Define the required columns
columns_to_keep = ['title', 'price', 'location', 'Registration Year', 'Insurance',
                   'Fuel Type','Kms Driven', 'RTO', 'Ownership']

# Select only required columns from each dataframe
df1 = B[columns_to_keep]
df2 = C[columns_to_keep]
df3 = N[columns_to_keep]
df4 = J[columns_to_keep]
df5=P[columns_to_keep]

# Merge all dataframes
merged_df = pd.concat([df1, df2, df3, df4,df5], ignore_index=True)

# Save the final dataframe
merged_df.to_csv('merged_data.csv', index=False)

In [2]:
df=pd.read_csv("/content/merged_data.csv")
df

#df1['location'] = df1['location'].str.split(',').str[1]

,title,price,location,Registration Year,Insurance,Fuel Type,Kms Driven,RTO,Ownership
0,2021 Tata Nexon XZA Plus (O) AMT Diesel,₹9.97 Lakh,"Malleswaram, Bangalore",Jan 2021,Comprehensive,Diesel,"12,758 Kms",Bangalore,First Owner
1,2021 Kia Sonet HTX Turbo iMT,₹9.98 Lakh,"Yelahanka, Bangalore",Feb 2021,Comprehensive,Petrol,"9,424 Kms",Bangalore,First Owner
2,2023 Audi Q5 Technology,₹72 Lakh,"R T Nagar, Bangalore",Dec 2023,Comprehensive,Petrol,"3,000 Kms",Bangalore,First Owner
3,2020 Hyundai i20 Asta Turbo iMT,₹8.39 Lakh,"Yelahanka, Bangalore",Nov 2020,Comprehensive,Petrol,"13,539 Kms",Mysore,First Owner
4,2015 Maruti Celerio VXI AT,₹3.65 Lakh,"Btm Layout, Bangalore",Dec 2015,Comprehensive,Petrol,"57,742 Kms",Bangalore,Second Owner
...,...,...,...,...,...,...,...,...,...
2327,2024 Audi Q7 Technology,₹87 Lakh,"Baner, Pune",NaN,Expired,Petrol,"5,000 Kms",NaN,NaN
2328,2021 Nissan Magnite XE,₹5.07 Lakh,"Wagholi, Pune",Oct 2021,Comprehensive,Petrol,"14,276 Kms",Aurangabad,First Owner
2329,2013 Audi A4 2.0 TDI Premium Sport Limited Edi...,₹7.99 Lakh,"Yerwada, Pune",Dec 2013,Comprehensive,Diesel,"75,000 Kms",Pen,Third Owner
2330,2013 Hyundai i20 Petrol Magna,₹2.71 Lakh,"Wakad, Pune",Apr 2013,Comprehensive,Petrol,"48,008 Kms",Nashik,First Owner
2331,2019 Renault Triber RXL BSIV,₹4.25 Lakh,"Thathawade, Pune",Oct 2019,Expired,Petrol,"13,774 Kms",Mumbai,First Owner

In [3]:
df["location"]=df["location"].str.split(',').str[1]

In [4]:
df

,title,price,location,Registration Year,Insurance,Fuel Type,Kms Driven,RTO,Ownership
0,2021 Tata Nexon XZA Plus (O) AMT Diesel,₹9.97 Lakh,Bangalore,Jan 2021,Comprehensive,Diesel,"12,758 Kms",Bangalore,First Owner
1,2021 Kia Sonet HTX Turbo iMT,₹9.98 Lakh,Bangalore,Feb 2021,Comprehensive,Petrol,"9,424 Kms",Bangalore,First Owner
2,2023 Audi Q5 Technology,₹72 Lakh,Bangalore,Dec 2023,Comprehensive,Petrol,"3,000 Kms",Bangalore,First Owner
3,2020 Hyundai i20 Asta Turbo iMT,₹8.39 Lakh,Bangalore,Nov 2020,Comprehensive,Petrol,"13,539 Kms",Mysore,First Owner
4,2015 Maruti Celerio VXI AT,₹3.65 Lakh,Bangalore,Dec 2015,Comprehensive,Petrol,"57,742 Kms",Bangalore,Second Owner
...,...,...,...,...,...,...,...,...,...
2327,2024 Audi Q7 Technology,₹87 Lakh,Pune,NaN,Expired,Petrol,"5,000 Kms",NaN,NaN
2328,2021 Nissan Magnite XE,₹5.07 Lakh,Pune,Oct 2021,Comprehensive,Petrol,"14,276 Kms",Aurangabad,First Owner
2329,2013 Audi A4 2.0 TDI Premium Sport Limited Edi...,₹7.99 Lakh,Pune,Dec 2013,Comprehensive,Diesel,"75,000 Kms",Pen,Third Owner
2330,2013 Hyundai i20 Petrol Magna,₹2.71 Lakh,Pune,Apr 2013,Comprehensive,Petrol,"48,008 Kms",Nashik,First Owner
2331,2019 Renault Triber RXL BSIV,₹4.25 Lakh,Pune,Oct 2019,Expired,Petrol,"13,774 Kms",Mumbai,First Owner

In [5]:
df["location"].unique()

array([' Bangalore', ' Gurgaon', nan, ' Coimbatore', ' Chennai',
       ' New Delhi', ' Jaipur', ' Pune'], dtype=object)

In [ ]:
df["location"]

In [ ]:
df["location"].value_counts()

location
Chennai       1052
Jaipur         769
Bangalore      118
New Delhi       75
Gurgaon         34
Coimbatore      14
Name: count, dtype: int64

In [6]:
df["location"].isnull().sum()

252

#Car_details

In [ ]:
df=pd.read_csv("/content/merged_data.csv")
df

,title,price,location,Registration Year,Insurance,Fuel Type,Kms Driven,RTO,Ownership
0,2021 Tata Nexon XZA Plus (O) AMT Diesel,₹9.97 Lakh,"Malleswaram, Bangalore",Jan 2021,Comprehensive,Diesel,"12,758 Kms",Bangalore,First Owner
1,2021 Kia Sonet HTX Turbo iMT,₹9.98 Lakh,"Yelahanka, Bangalore",Feb 2021,Comprehensive,Petrol,"9,424 Kms",Bangalore,First Owner
2,2023 Audi Q5 Technology,₹72 Lakh,"R T Nagar, Bangalore",Dec 2023,Comprehensive,Petrol,"3,000 Kms",Bangalore,First Owner
3,2020 Hyundai i20 Asta Turbo iMT,₹8.39 Lakh,"Yelahanka, Bangalore",Nov 2020,Comprehensive,Petrol,"13,539 Kms",Mysore,First Owner
4,2015 Maruti Celerio VXI AT,₹3.65 Lakh,"Btm Layout, Bangalore",Dec 2015,Comprehensive,Petrol,"57,742 Kms",Bangalore,Second Owner
...,...,...,...,...,...,...,...,...,...
2307,2018 Mahindra XUV500 W11 FWD Diesel,₹12.50 Lakh,"Nirman Nagar, Jaipur",Jul 2018,Comprehensive,Diesel,"75,000 Kms",Jaipur,First Owner
2308,2015 Maruti Ciaz VDi Plus,₹3.97 Lakh,"Mansarovar, Jaipur",2015,Expired,Diesel,"1,00,000 Kms",NaN,Second Owner
2309,2022 Kia Sonet X-Line Diesel AT,₹13 Lakh,"Nirman Nagar, Jaipur",Sept 2022,Comprehensive,Diesel,"24,000 Kms",Jaipur,First Owner
2310,2022 Tata Tiago XZA AMT,₹6.40 Lakh,"Mansarovar, Jaipur",May 2022,Comprehensive,Petrol,"11,535 Kms",Jaipur,First Owner
2311,2016 Audi Q3 35 TDI Quattro Premium Plus,₹15.25 Lakh,"Nirman Nagar, Jaipur",Oct 2016,Comprehensive,Diesel,"81,000 Kms",RJ60,Second Owner

In [ ]:
# Remove year from 'title'
df1['title'] = df1['title'].str.replace(r'\b\d{4}\b', '', regex=True).str.strip()

# Extract only the city name from 'location'
df1['location'] = df1['location'].str.split(',').str[1]

# Display the modified DataFrame
print(df1.head())

                                title       price    location  \
0  Tata Nexon XZA Plus (O) AMT Diesel  ₹9.97 Lakh   Bangalore
1             Kia Sonet HTX Turbo iMT  ₹9.98 Lakh   Bangalore
2                  Audi Q5 Technology    ₹72 Lakh   Bangalore
3          Hyundai i20 Asta Turbo iMT  ₹8.39 Lakh   Bangalore
4               Maruti Celerio VXI AT  ₹3.65 Lakh   Bangalore

  Registration Year      Insurance Fuel Type  Kms Driven        RTO  \
0          Jan 2021  Comprehensive    Diesel  12,758 Kms  Bangalore
1          Feb 2021  Comprehensive    Petrol   9,424 Kms  Bangalore
2          Dec 2023  Comprehensive    Petrol   3,000 Kms  Bangalore
3          Nov 2020  Comprehensive    Petrol  13,539 Kms     Mysore
4          Dec 2015  Comprehensive    Petrol  57,742 Kms  Bangalore

      Ownership
0   First Owner
1   First Owner
2   First Owner
3   First Owner
4  Second Owner

In [ ]:
df1["location"].unique()

array([0., 3., 2., 1., 5., 4.])

In [ ]:
df1

,title,price,location,Registration Year,Insurance,Fuel Type,Kms Driven,RTO,Ownership
0,Tata Nexon XZA Plus (O) AMT Diesel,₹9.97 Lakh,Bangalore,Jan 2021,Comprehensive,Diesel,"12,758 Kms",Bangalore,First Owner
1,Kia Sonet HTX Turbo iMT,₹9.98 Lakh,Bangalore,Feb 2021,Comprehensive,Petrol,"9,424 Kms",Bangalore,First Owner
2,Audi Q5 Technology,₹72 Lakh,Bangalore,Dec 2023,Comprehensive,Petrol,"3,000 Kms",Bangalore,First Owner
3,Hyundai i20 Asta Turbo iMT,₹8.39 Lakh,Bangalore,Nov 2020,Comprehensive,Petrol,"13,539 Kms",Mysore,First Owner
4,Maruti Celerio VXI AT,₹3.65 Lakh,Bangalore,Dec 2015,Comprehensive,Petrol,"57,742 Kms",Bangalore,Second Owner
...,...,...,...,...,...,...,...,...,...
2307,Mahindra XUV500 W11 FWD Diesel,₹12.50 Lakh,Jaipur,Jul 2018,Comprehensive,Diesel,"75,000 Kms",Jaipur,First Owner
2308,Maruti Ciaz VDi Plus,₹3.97 Lakh,Jaipur,2015,Expired,Diesel,"1,00,000 Kms",NaN,Second Owner
2309,Kia Sonet X-Line Diesel AT,₹13 Lakh,Jaipur,Sept 2022,Comprehensive,Diesel,"24,000 Kms",Jaipur,First Owner
2310,Tata Tiago XZA AMT,₹6.40 Lakh,Jaipur,May 2022,Comprehensive,Petrol,"11,535 Kms",Jaipur,First Owner
2311,Audi Q3 35 TDI Quattro Premium Plus,₹15.25 Lakh,Jaipur,Oct 2016,Comprehensive,Diesel,"81,000 Kms",RJ60,Second Owner

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312 entries, 0 to 2311
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              2312 non-null   object
 1   price              2312 non-null   object
 2   location           2062 non-null   object
 3   Registration Year  2304 non-null   object
 4   Insurance          2312 non-null   object
 5   Fuel Type          2312 non-null   object
 6   Kms Driven         2312 non-null   object
 7   RTO                2237 non-null   object
 8   Ownership          2306 non-null   object
dtypes: object(9)
memory usage: 162.7+ KB

In [ ]:
df1["title"].nunique()

1279

In [ ]:
df1.ffill(inplace=True)

In [ ]:
data=pd.DataFrame(df1)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312 entries, 0 to 2311
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              2312 non-null   object
 1   price              2312 non-null   object
 2   location           2312 non-null   object
 3   Registration Year  2312 non-null   object
 4   Insurance          2312 non-null   object
 5   Fuel Type          2312 non-null   object
 6   Kms Driven         2312 non-null   object
 7   RTO                2312 non-null   object
 8   Ownership          2312 non-null   object
dtypes: object(9)
memory usage: 162.7+ KB

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
encoder=OrdinalEncoder()

In [ ]:
for i in df1.select_dtypes(include='object').columns:
  df1[i]=encoder.fit_transform(df1[[i]])

In [ ]:
df1.corr()

,title,price,location,Registration Year,Insurance,Fuel Type,Kms Driven,RTO,Ownership
title,1.000000,0.008631,0.003246,-0.001409,-0.017474,-0.005825,-0.034655,0.063398,-0.059248
price,0.008631,1.000000,-0.033038,0.038173,0.004666,0.133705,0.008593,-0.002952,-0.116097
location,0.003246,-0.033038,1.000000,-0.029574,0.002684,-0.155250,0.058578,0.312285,0.018177
Registration Year,-0.001409,0.038173,-0.029574,1.000000,-0.293281,0.019489,0.106930,0.024453,-0.100455
Insurance,-0.017474,0.004666,0.002684,-0.293281,1.000000,0.041682,-0.031158,0.006600,0.060727
Fuel Type,-0.005825,0.133705,-0.155250,0.019489,0.041682,1.000000,-0.023997,-0.054820,-0.082497
Kms Driven,-0.034655,0.008593,0.058578,0.106930,-0.031158,-0.023997,1.000000,0.024167,0.065911
RTO,0.063398,-0.002952,0.312285,0.024453,0.006600,-0.054820,0.024167,1.000000,0.015446
Ownership,-0.059248,-0.116097,0.018177,-0.100455,0.060727,-0.082497,0.065911,0.015446,1.000000

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312 entries, 0 to 2311
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              2312 non-null   float64
 1   price              2312 non-null   float64
 2   location           2312 non-null   float64
 3   Registration Year  2312 non-null   float64
 4   Insurance          2312 non-null   float64
 5   Fuel Type          2312 non-null   float64
 6   Kms Driven         2312 non-null   float64
 7   RTO                2312 non-null   float64
 8   Ownership          2312 non-null   float64
dtypes: float64(9)
memory usage: 162.7 KB

In [ ]:
x=df1.drop("price",axis=1)
y=df1["price"]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
x_train.shape

(1849, 8)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [ ]:
model1 = RandomForestRegressor().fit(x_train,y_train)
y_pred=model1.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

38757.080191748486
148.98520834618947
0.27004619919445916

In [ ]:
from sklearn.linear_model import LinearRegression
model2=LinearRegression().fit(x_train,y_train)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

38757.080191748486
148.98520834618947
0.27004619919445916

In [ ]:
from xgboost import XGBRegressor
model4 = XGBRegressor().fit(x_train,y_train)
y_pred=model4.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

42313.158498426055
151.22609315217184
0.20307074946813863

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
model6 = KNeighborsRegressor().fit(x_train,y_train)
y_pred=model6.predict(x_test)
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

53704.613390928724
185.93779697624188
-0.011476779766469214