<a href="https://colab.research.google.com/github/Hemanthk408/Car_rate_prediction/blob/main/Cars_Rate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd


B=pd.read_json("/content/car_details_bengalur.json")
C=pd.read_json("/content/car_details_chennai.json")
N=pd.read_json("/content/car_details_New_Delhi.json")
J=pd.read_json("/content/car_details_jaipur.json")


pd.set_option("display.max_columns",None)


# Load your tables (assuming they are CSVs)
B=pd.read_json("/content/car_details_bengalur.json")
C=pd.read_json("/content/car_details_chennai.json")
N=pd.read_json("/content/car_details_New_Delhi.json")
J=pd.read_json("/content/car_details_jaipur.json")

# Define the required columns
columns_to_keep = ['title', 'price', 'location', 'Registration Year', 'Insurance',
                   'Fuel Type','Kms Driven', 'RTO', 'Ownership']




# Select only required columns from each dataframe
df1 = B[columns_to_keep]
df2 = C[columns_to_keep]
df3 = N[columns_to_keep]
df4 = J[columns_to_keep]

# Merge all dataframes
merged_df = pd.concat([df1, df2, df3, df4], ignore_index=True)

# Save the final dataframe
merged_df.to_csv('merged_data.csv', index=False)

In [ ]:
df1=pd.read_csv("/content/merged_data.csv")
df1

,title,price,location,Registration Year,Insurance,Fuel Type,Kms Driven,RTO,Ownership
0,2021 Tata Nexon XZA Plus (O) AMT Diesel,₹9.97 Lakh,"Malleswaram, Bangalore",Jan 2021,Comprehensive,Diesel,"12,758 Kms",Bangalore,First Owner
1,2021 Kia Sonet HTX Turbo iMT,₹9.98 Lakh,"Yelahanka, Bangalore",Feb 2021,Comprehensive,Petrol,"9,424 Kms",Bangalore,First Owner
2,2023 Audi Q5 Technology,₹72 Lakh,"R T Nagar, Bangalore",Dec 2023,Comprehensive,Petrol,"3,000 Kms",Bangalore,First Owner
3,2020 Hyundai i20 Asta Turbo iMT,₹8.39 Lakh,"Yelahanka, Bangalore",Nov 2020,Comprehensive,Petrol,"13,539 Kms",Mysore,First Owner
4,2015 Maruti Celerio VXI AT,₹3.65 Lakh,"Btm Layout, Bangalore",Dec 2015,Comprehensive,Petrol,"57,742 Kms",Bangalore,Second Owner
...,...,...,...,...,...,...,...,...,...
2307,2018 Mahindra XUV500 W11 FWD Diesel,₹12.50 Lakh,"Nirman Nagar, Jaipur",Jul 2018,Comprehensive,Diesel,"75,000 Kms",Jaipur,First Owner
2308,2015 Maruti Ciaz VDi Plus,₹3.97 Lakh,"Mansarovar, Jaipur",2015,Expired,Diesel,"1,00,000 Kms",NaN,Second Owner
2309,2022 Kia Sonet X-Line Diesel AT,₹13 Lakh,"Nirman Nagar, Jaipur",Sept 2022,Comprehensive,Diesel,"24,000 Kms",Jaipur,First Owner
2310,2022 Tata Tiago XZA AMT,₹6.40 Lakh,"Mansarovar, Jaipur",May 2022,Comprehensive,Petrol,"11,535 Kms",Jaipur,First Owner
2311,2016 Audi Q3 35 TDI Quattro Premium Plus,₹15.25 Lakh,"Nirman Nagar, Jaipur",Oct 2016,Comprehensive,Diesel,"81,000 Kms",RJ60,Second Owner

In [ ]:
# Remove year from 'title'
df1['title'] = df1['title'].str.replace(r'\b\d{4}\b', '', regex=True).str.strip()

# Extract only the city name from 'location'
df1['location'] = df1['location'].str.split(',').str[1]

# Display the modified DataFrame
print(df1.head())

                                title       price    location  \
0  Tata Nexon XZA Plus (O) AMT Diesel  ₹9.97 Lakh   Bangalore
1             Kia Sonet HTX Turbo iMT  ₹9.98 Lakh   Bangalore
2                  Audi Q5 Technology    ₹72 Lakh   Bangalore
3          Hyundai i20 Asta Turbo iMT  ₹8.39 Lakh   Bangalore
4               Maruti Celerio VXI AT  ₹3.65 Lakh   Bangalore

  Registration Year      Insurance Fuel Type  Kms Driven        RTO  \
0          Jan 2021  Comprehensive    Diesel  12,758 Kms  Bangalore
1          Feb 2021  Comprehensive    Petrol   9,424 Kms  Bangalore
2          Dec 2023  Comprehensive    Petrol   3,000 Kms  Bangalore
3          Nov 2020  Comprehensive    Petrol  13,539 Kms     Mysore
4          Dec 2015  Comprehensive    Petrol  57,742 Kms  Bangalore

      Ownership
0   First Owner
1   First Owner
2   First Owner
3   First Owner
4  Second Owner

In [ ]:
df1

,title,price,location,Registration Year,Insurance,Fuel Type,Kms Driven,RTO,Ownership
0,Tata Nexon XZA Plus (O) AMT Diesel,₹9.97 Lakh,Bangalore,Jan 2021,Comprehensive,Diesel,"12,758 Kms",Bangalore,First Owner
1,Kia Sonet HTX Turbo iMT,₹9.98 Lakh,Bangalore,Feb 2021,Comprehensive,Petrol,"9,424 Kms",Bangalore,First Owner
2,Audi Q5 Technology,₹72 Lakh,Bangalore,Dec 2023,Comprehensive,Petrol,"3,000 Kms",Bangalore,First Owner
3,Hyundai i20 Asta Turbo iMT,₹8.39 Lakh,Bangalore,Nov 2020,Comprehensive,Petrol,"13,539 Kms",Mysore,First Owner
4,Maruti Celerio VXI AT,₹3.65 Lakh,Bangalore,Dec 2015,Comprehensive,Petrol,"57,742 Kms",Bangalore,Second Owner
...,...,...,...,...,...,...,...,...,...
2307,Mahindra XUV500 W11 FWD Diesel,₹12.50 Lakh,Jaipur,Jul 2018,Comprehensive,Diesel,"75,000 Kms",Jaipur,First Owner
2308,Maruti Ciaz VDi Plus,₹3.97 Lakh,Jaipur,2015,Expired,Diesel,"1,00,000 Kms",NaN,Second Owner
2309,Kia Sonet X-Line Diesel AT,₹13 Lakh,Jaipur,Sept 2022,Comprehensive,Diesel,"24,000 Kms",Jaipur,First Owner
2310,Tata Tiago XZA AMT,₹6.40 Lakh,Jaipur,May 2022,Comprehensive,Petrol,"11,535 Kms",Jaipur,First Owner
2311,Audi Q3 35 TDI Quattro Premium Plus,₹15.25 Lakh,Jaipur,Oct 2016,Comprehensive,Diesel,"81,000 Kms",RJ60,Second Owner

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312 entries, 0 to 2311
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              2312 non-null   object
 1   price              2312 non-null   object
 2   location           2062 non-null   object
 3   Registration Year  2304 non-null   object
 4   Insurance          2312 non-null   object
 5   Fuel Type          2312 non-null   object
 6   Kms Driven         2312 non-null   object
 7   RTO                2237 non-null   object
 8   Ownership          2306 non-null   object
dtypes: object(9)
memory usage: 162.7+ KB

In [ ]:
df1["title"].nunique()

1279

In [ ]:
df1.ffill(inplace=True)

In [ ]:
data=pd.DataFrame(df1)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312 entries, 0 to 2311
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              2312 non-null   object
 1   price              2312 non-null   object
 2   location           2312 non-null   object
 3   Registration Year  2312 non-null   object
 4   Insurance          2312 non-null   object
 5   Fuel Type          2312 non-null   object
 6   Kms Driven         2312 non-null   object
 7   RTO                2312 non-null   object
 8   Ownership          2312 non-null   object
dtypes: object(9)
memory usage: 162.7+ KB

In [ ]:
for i in df1.select_dtypes(include='object').columns:
  print(i,df1[i].unique())

title ['Tata Nexon XZA Plus (O) AMT Diesel' 'Kia Sonet HTX Turbo iMT'
 'Audi Q5 Technology' ... 'Mercedes-Benz S-Class Maybach S500'
 'Tata Safari EX 4x2' 'Kia Sonet X-Line Diesel AT']
price ['₹9.97 Lakh' '₹9.98 Lakh' '₹72 Lakh' '₹8.39 Lakh' '₹3.65 Lakh' '₹43 Lakh'
 '₹3.40 Lakh' '₹4.32 Lakh' '₹15.67 Lakh' '₹5.09 Lakh' '₹3.29 Lakh'
 '₹4.25 Lakh' '₹35 Lakh' '₹24.99 Lakh' '₹18.50 Lakh' '₹6.29 Lakh'
 '₹17.45 Lakh' '₹11.25 Lakh' '₹29.50 Lakh' '₹13.74 Lakh' '₹8.97 Lakh'
 '₹8.85 Lakh' '₹4.15 Lakh' '₹61 Lakh' '₹5.56 Lakh' '₹32.11 Lakh'
 '₹18.49 Lakh' '₹7.99 Lakh' '₹5.08 Lakh' '₹4.27 Lakh' '₹3.55 Lakh'
 '₹4.35 Lakh' '₹10.69 Lakh' '₹3.38 Lakh' '₹14.91 Lakh' '₹60 Lakh'
 '₹6.09 Lakh' '₹4.34 Lakh' '₹12.95 Lakh' '₹9.95 Lakh' '₹27.75 Lakh'
 '₹29.95 Lakh' '₹38.50 Lakh' '₹17.97 Lakh' '₹1.11 Crore' '₹34.95 Lakh'
 '₹5.75 Lakh' '₹45 Lakh' '₹9.25 Lakh' '₹14.97 Lakh' '₹5.93 Lakh'
 '₹6.78 Lakh' '₹4.66 Lakh' '₹23.95 Lakh' '₹7 Lakh' '₹7.40 Lakh'
 '₹11.50 Lakh' '₹2.71 Lakh' '₹5.92 Lakh' '₹2.77 Lakh' '₹6.25 Lakh'
 '₹6.27 Lakh' '₹17.75 Lakh' '₹4.50 Lakh' '₹9.07 Lakh' '₹8.95 Lakh'
 '₹9.35 Lakh' '₹4.10 Lakh' '₹25.45 Lakh' '₹2.87 Lakh' '₹1.03 Crore'
 '₹31 Lakh' '₹10.90 Lakh' '₹2.60 Lakh' '₹69 Lakh' '₹12.16 Lakh'
 '₹10.75 Lakh' '₹11.90 Lakh' '₹7.25 Lakh' '₹18.48 Lakh' '₹10.42 Lakh'
 '₹3.90 Lakh' '₹10.50 Lakh' '₹4.12 Lakh' '₹80.75 Lakh' '₹56.50 Lakh'
 '₹2.89 Lakh' '₹2.18 Lakh' '₹3.09 Lakh' '₹43.46 Lakh' '₹3.26 Lakh'
 '₹23 Lakh' '₹37.99 Lakh' '₹4.90 Lakh' '₹8.47 Lakh' '₹85 Lakh'
 '₹13.66 Lakh' '₹44.75 Lakh' '₹11.14 Lakh' '₹24.45 Lakh' '₹9 Lakh'
 '₹9.02 Lakh' '₹11.29 Lakh' '₹8.55 Lakh' '₹11.99 Lakh' '₹3.15 Lakh'
 '₹9.75 Lakh' '₹10.99 Lakh' '₹22.90 Lakh' '₹20.98 Lakh' '₹9.90 Lakh'
 '₹16.50 Lakh' '₹4.02 Lakh' '₹8.68 Lakh' '₹5.30 Lakh' '₹12.50 Lakh'
 '₹3.72 Lakh' '₹12.55 Lakh' '₹8 Lakh' '₹5.98 Lakh' '₹7.56 Lakh'
 '₹3.70 Lakh' '₹6.19 Lakh' '₹15 Lakh' '₹3.50 Lakh' '₹10.49 Lakh'
 '₹12.11 Lakh' '₹2.40 Lakh' '₹4.20 Lakh' '₹3.45 Lakh' '₹3.80 Lakh'
 '₹8.20 Lakh' '₹6.99 Lakh' '₹22.50 Lakh' '₹6.80 Lakh' '₹5 Lakh'
 '₹41.90 Lakh' '₹3.75 Lakh' '₹6.57 Lakh' '₹31.90 Lakh' '₹8.25 Lakh'
 '₹6.50 Lakh' '₹46 Lakh' '₹16.20 Lakh' '₹4.86 Lakh' '₹3.60 Lakh'
 '₹9.15 Lakh' '₹3.54 Lakh' '₹8.24 Lakh' '₹10.88 Lakh' '₹33 Lakh'
 '₹7.51 Lakh' '₹4.85 Lakh' '₹12.75 Lakh' '₹6.88 Lakh' '₹3.82 Lakh'
 '₹23.90 Lakh' '₹6.62 Lakh' '₹15.90 Lakh' '₹49.90 Lakh' '₹14.56 Lakh'
 '₹6.45 Lakh' '₹3.12 Lakh' '₹46.90 Lakh' '₹6.85 Lakh' '₹3.25 Lakh'
 '₹41.50 Lakh' '₹9.80 Lakh' '₹5.20 Lakh' '₹4.11 Lakh' '₹3.68 Lakh'
 '₹10.40 Lakh' '₹4.38 Lakh' '₹1.75 Lakh' '₹4.63 Lakh' '₹12.90 Lakh'
 '₹6.84 Lakh' '₹2.50 Lakh' '₹7.98 Lakh' '₹9.54 Lakh' '₹4.69 Lakh'
 '₹3.20 Lakh' '₹5.45 Lakh' '₹9.50 Lakh' '₹3.98 Lakh' '₹2.97 Lakh'
 '₹5.95 Lakh' '₹3.11 Lakh' '₹6 Lakh' '₹5.25 Lakh' '₹18.90 Lakh'
 '₹5.90 Lakh' '₹4.75 Lakh' '₹49.50 Lakh' '₹2.58 Lakh' '₹6.30 Lakh'
 '₹36 Lakh' '₹5.28 Lakh' '₹62 Lakh' '₹12.35 Lakh' '₹14.46 Lakh'
 '₹37.50 Lakh' '₹2.90 Lakh' '₹5.01 Lakh' '₹5.53 Lakh' '₹7.65 Lakh'
 '₹3.46 Lakh' '₹52 Lakh' '₹4.40 Lakh' '₹20.50 Lakh' '₹8.90 Lakh'
 '₹22 Lakh' '₹8.50 Lakh' '₹4.55 Lakh' '₹11.43 Lakh' '₹5.47 Lakh'
 '₹9.85 Lakh' '₹8.13 Lakh' '₹7.69 Lakh' '₹5.85 Lakh' '₹5.43 Lakh'
 '₹90 Thousand' '₹8.58 Lakh' '₹7.50 Lakh' '₹4.47 Lakh' '₹1.91 Lakh'
 '₹3.47 Lakh' '₹5.40 Lakh' '₹13.50 Lakh' '₹7.78 Lakh' '₹17.46 Lakh'
 '₹66 Lakh' '₹8.40 Lakh' '₹7.66 Lakh' '₹4.29 Lakh' '₹5.91 Lakh'
 '₹7.75 Lakh' '₹33.90 Lakh' '₹7.89 Lakh' '₹3.78 Lakh' '₹28.50 Lakh'
 '₹4.05 Lakh' '₹9.60 Lakh' '₹2.69 Lakh' '₹7.32 Lakh' '₹4.80 Lakh'
 '₹6.05 Lakh' '₹76 Lakh' '₹5.78 Lakh' '₹89 Thousand' '₹14.20 Lakh'
 '₹6.60 Lakh' '₹2.78 Lakh' '₹7.84 Lakh' '₹8.52 Lakh' '₹3.84 Lakh'
 '₹33.75 Lakh' '₹20.90 Lakh' '₹38.75 Lakh' '₹4.98 Lakh' '₹7.49 Lakh'
 '₹17.90 Lakh' '₹20 Lakh' '₹3.69 Lakh' '₹43.80 Lakh' '₹5.55 Lakh'
 '₹6.26 Lakh' '₹8.60 Lakh' '₹4.78 Lakh' '₹39.50 Lakh' '₹16 Lakh'
 '₹8.57 Lakh' '₹3.89 Lakh' '₹5.65 Lakh' '₹11.40 Lakh' '₹11.12 Lakh'
 '₹8.15 Lakh' '₹4.70 Lakh' '₹13 Lakh' '₹4.61 Lakh' '₹6.55 Lakh'
 '₹2.95 Lakh' '₹7.07 Lakh' '₹10.30 Lakh' '₹2.68 Lakh' '₹1.70 Lakh'
 '₹16.90 Lakh' '₹7.33 Lakh' '₹9.99 Lakh' '₹7.15 Lakh' '₹4.68 Lakh'
 '₹4.30 Lakh' '₹7.38 Lakh' '₹9.65 Lakh' '₹5.12 Lakh' '₹6.98 Lakh'
 '₹9.09 Lakh' '₹14.50 Lakh' '₹8.75 Lakh' '₹43.90 Lakh' '₹5.58 Lakh'
 '₹2.85 Lakh' '₹1.95 Lakh' '₹4.44 Lakh' '₹26.25 Lakh' '₹7.04 Lakh'
 '₹3 Lakh' '₹13.80 Lakh' '₹4.54 Lakh' '₹6.20 Lakh' '₹14.95 Lakh'
 '₹7.20 Lakh' '₹18.10 Lakh' '₹3.74 Lakh' '₹4.93 Lakh' '₹2.98 Lakh'
 '₹7.58 Lakh' '₹4.18 Lakh' '₹4.21 Lakh' '₹15.30 Lakh' '₹5.29 Lakh'
 '₹6.40 Lakh' '₹4.99 Lakh' '₹3.85 Lakh' '₹27 Lakh' '₹50 Thousand'
 '₹4.82 Lakh' '₹5.80 Lakh' '₹12.97 Lakh' '₹46.80 Lakh' '₹28 Thousand'
 '₹7.72 Lakh' '₹12.60 Lakh' '₹8.35 Lakh' '₹25.50 Lakh' '₹5.23 Lakh'
 '₹12 Lakh' '₹5.16 Lakh' '₹13.75 Lakh' '₹8.33 Lakh' '₹6.49 Lakh'
 '₹85.90 Lakh' '₹4.43 Lakh' '₹6.92 Lakh' '₹7.91 Lakh' '₹5.13 Lakh'
 '₹14.90 Lakh' '₹7.90 Lakh' '₹5.60 Lakh' '₹10.59 Lakh' '₹54.50 Lakh'
 '₹3.35 Lakh' '₹7.23 Lakh' '₹37 Lakh' '₹5.99 Lakh' '₹12.81 Lakh'
 '₹37.90 Lakh' '₹3.57 Lakh' '₹18 Lakh' '₹14.45 Lakh' '₹9.70 Lakh'
 '₹2.30 Lakh' '₹3.19 Lakh' '₹7.95 Lakh' '₹4 Lakh' '₹12.25 Lakh'
 '₹5.17 Lakh' '₹1.20 Crore' '₹3.71 Lakh' '₹4.41 Lakh' '₹8.03 Lakh'
 '₹5.70 Lakh' '₹3.61 Lakh' '₹19.40 Lakh' '₹6.70 Lakh' '₹5.86 Lakh'
 '₹79 Lakh' '₹15.85 Lakh' '₹6.11 Lakh' '₹32.90 Lakh' '₹50 Lakh'
 '₹10.71 Lakh' '₹6.15 Lakh' '₹5.63 Lakh' '₹5.10 Lakh' '₹78 Lakh'
 '₹23.50 Lakh' '₹5.50 Lakh' '₹6.76 Lakh' '₹14.75 Lakh' '₹5.52 Lakh'
 '₹7.47 Lakh' '₹5.21 Lakh' '₹6.96 Lakh' '₹7.12 Lakh' '₹9.89 Lakh'
 '₹4.39 Lakh' '₹9.48 Lakh' '₹15.44 Lakh' '₹6.37 Lakh' '₹7.28 Lakh'
 '₹83 Lakh' '₹7.46 Lakh' '₹6.06 Lakh' '₹3.04 Lakh' '₹3.30 Lakh'
 '₹7.19 Lakh' '₹4.71 Lakh' '₹9.11 Lakh' '₹3.95 Lakh' '₹4.51 Lakh'
 '₹4.09 Lakh' '₹6.97 Lakh' '₹15.75 Lakh' '₹2.65 Lakh' '₹3.31 Lakh'
 '₹2.70 Lakh' '₹6.12 Lakh' '₹7.71 Lakh' '₹14.64 Lakh' '₹8.70 Lakh'
 '₹17.40 Lakh' '₹11.91 Lakh' '₹15.50 Lakh' '₹4.60 Lakh' '₹12.31 Lakh'
 '₹5.74 Lakh' '₹6.07 Lakh' '₹5.03 Lakh' '₹26.90 Lakh' '₹4.84 Lakh'
 '₹13.95 Lakh' '₹15.25 Lakh' '₹6.48 Lakh' '₹55 Lakh' '₹2.88 Lakh'
 '₹18.25 Lakh' '₹19 Lakh' '₹6.10 Lakh' '₹5.82 Lakh' '₹7.37 Lakh'
 '₹11 Lakh' '₹30 Lakh' '₹84 Lakh' '₹19.50 Lakh' '₹2.13 Lakh' '₹7.77 Lakh'
 '₹7.35 Lakh' '₹2.75 Lakh' '₹4.92 Lakh' '₹9.71 Lakh' '₹10.89 Lakh'
 '₹8.30 Lakh' '₹5.72 Lakh' '₹4.23 Lakh' '₹19.43 Lakh' '₹3.22 Lakh'
 '₹3.83 Lakh' '₹8.09 Lakh' '₹7.85 Lakh' '₹52.50 Lakh' '₹15.95 Lakh'
 '₹6.68 Lakh' '₹8.65 Lakh' '₹5.05 Lakh' '₹7.21 Lakh' '₹5.15 Lakh'
 '₹8.59 Lakh' '₹2.39 Lakh' '₹5.14 Lakh' '₹2.61 Lakh' '₹4.24 Lakh'
 '₹16.25 Lakh' '₹10.25 Lakh' '₹4.74 Lakh' '₹11.75 Lakh' '₹6.90 Lakh'
 '₹6.34 Lakh' '₹6.75 Lakh' '₹3.24 Lakh' '₹24 Lakh' '₹4.52 Lakh'
 '₹6.95 Lakh' '₹4.87 Lakh' '₹95 Lakh' '₹4.56 Lakh' '₹13.18 Lakh'
 '₹4.72 Lakh' '₹6.91 Lakh' '₹3.07 Lakh' '₹4.89 Lakh' '₹2 Lakh'
 '₹11.60 Lakh' '₹6.14 Lakh' '₹7.11 Lakh' '₹7.29 Lakh' '₹7.09 Lakh'
 '₹5.68 Lakh' '₹1.50 Lakh' '₹19.58 Lakh' '₹85 Thousand' '₹24.50 Lakh'
 '₹5.27 Lakh' '₹4.59 Lakh' '₹12.28 Lakh' '₹10 Lakh' '₹5.26 Lakh'
 '₹4.77 Lakh' '₹1.15 Lakh' '₹6.82 Lakh' '₹3.39 Lakh' '₹6.53 Lakh'
 '₹13.42 Lakh' '₹2.80 Lakh' '₹5.69 Lakh' '₹11.20 Lakh' '₹8.73 Lakh'
 '₹6.46 Lakh' '₹8.38 Lakh' '₹2.66 Lakh' '₹7.30 Lakh' '₹21.90 Lakh'
 '₹1.40 Lakh' '₹14 Lakh' '₹9.24 Lakh' '₹14.40 Lakh' '₹5.07 Lakh'
 '₹7.83 Lakh' '₹5.39 Lakh' '₹4.01 Lakh' '₹2.08 Lakh' '₹5.77 Lakh'
 '₹25 Lakh' '₹1.29 Crore' '₹4.94 Lakh' '₹4.58 Lakh' '₹43.20 Lakh'
 '₹8.05 Lakh' '₹5.48 Lakh' '₹12.40 Lakh' '₹27.50 Lakh' '₹9.36 Lakh'
 '₹2.10 Lakh' '₹8.64 Lakh' '₹24.90 Lakh' '₹1 Lakh' '₹9.30 Lakh'
 '₹3.93 Lakh' '₹5.31 Lakh' '₹21.50 Lakh' '₹54 Lakh' '₹5.62 Lakh'
 '₹2.48 Lakh' '₹15.35 Lakh' '₹7.70 Lakh' '₹32 Lakh' '₹9.93 Lakh'
 '₹4.17 Lakh' '₹7.92 Lakh' '₹3.32 Lakh' '₹6.32 Lakh' '₹34.75 Lakh'
 '₹7.82 Lakh' '₹7.94 Lakh' '₹7.05 Lakh' '₹11.32 Lakh' '₹4.07 Lakh'
 '₹7.80 Lakh' '₹2.84 Lakh' '₹14.80 Lakh' '₹25.90 Lakh' '₹13.89 Lakh'
 '₹2.45 Lakh' '₹4.26 Lakh' '₹3.63 Lakh' '₹36.90 Lakh' '₹2.73 Lakh'
 '₹5.38 Lakh' '₹13.90 Lakh' '₹29.90 Lakh' '₹59 Lakh' '₹3.33 Lakh'
 '₹8.89 Lakh' '₹2.28 Lakh' '₹3.88 Lakh' '₹5.18 Lakh' '₹1.13 Crore'
 '₹5.33 Lakh' '₹6.89 Lakh' '₹21 Lakh' '₹3.86 Lakh' '₹10.70 Lakh'
 '₹9.28 Lakh' '₹5.79 Lakh' '₹5.41 Lakh' '₹6.61 Lakh' '₹3.99 Lakh'
 '₹39.90 Lakh' '₹16.70 Lakh' '₹7.45 Lakh' '₹8.63 Lakh' '₹2.19 Lakh'
 '₹9.40 Lakh' '₹4.91 Lakh' '₹7.73 Lakh' '₹10.95 Lakh' '₹10.39 Lakh'
 '₹6.65 Lakh' '₹28.95 Lakh' '₹3.10 Lakh' '₹5.61 Lakh' '₹12.94 Lakh'
 '₹70 Lakh' '₹3.79 Lakh' '₹28 Lakh' '₹5.32 Lakh' '₹2.35 Lakh' '₹8.22 Lakh'
 '₹20.20 Lakh' '₹9.74 Lakh' '₹11.30 Lakh' '₹14.25 Lakh' '₹9.62 Lakh'
 '₹4.49 Lakh' '₹6.16 Lakh' '₹5.83 Lakh' '₹11.87 Lakh' '₹75 Lakh'
 '₹17 Lakh' '₹9.63 Lakh' '₹12.93 Lakh' '₹6.73 Lakh' '₹14.10 Lakh'
 '₹3.62 Lakh' '₹3.58 Lakh' '₹18.47 Lakh' '₹35.90 Lakh' '₹4.88 Lakh'
 '₹3.52 Lakh' '₹5.81 Lakh' '₹5.35 Lakh' '₹4.53 Lakh' '₹4.45 Lakh'
 '₹34.90 Lakh' '₹13.25 Lakh' '₹1.85 Lakh' '₹12.74 Lakh' '₹7.61 Lakh'
 '₹17.50 Lakh' '₹9.20 Lakh' '₹31.50 Lakh' '₹4.65 Lakh' '₹3.94 Lakh'
 '₹6.59 Lakh' '₹4.83 Lakh' '₹92 Lakh' '₹32.50 Lakh' '₹6.17 Lakh'
 '₹1.89 Lakh' '₹26.50 Lakh' '₹11.46 Lakh' '₹40.50 Lakh' '₹14.33 Lakh'
 '₹5.84 Lakh' '₹5.71 Lakh' '₹86.90 Lakh' '₹11.51 Lakh' '₹5.36 Lakh'
 '₹13.62 Lakh' '₹2.15 Lakh' '₹6.21 Lakh' '₹37.80 Lakh' '₹11.70 Lakh'
 '₹4.97 Lakh' '₹6.87 Lakh' '₹5.49 Lakh' '₹4.73 Lakh' '₹7.53 Lakh'
 '₹8.79 Lakh' '₹12.98 Lakh' '₹2.20 Lakh' '₹68 Lakh' '₹7.60 Lakh'
 '₹2.92 Lakh' '₹8.74 Lakh' '₹3.34 Lakh' '₹5.06 Lakh' '₹20.69 Lakh'
 '₹7.68 Lakh' '₹3.49 Lakh' '₹4.31 Lakh' '₹18.75 Lakh' '₹5.67 Lakh'
 '₹8.14 Lakh' '₹2.56 Lakh' '₹10.35 Lakh' '₹3.01 Lakh' '₹9.66 Lakh'
 '₹8.10 Lakh' '₹15.40 Lakh' '₹8.93 Lakh' '₹9.73 Lakh' '₹48 Lakh'
 '₹6.01 Lakh' '₹35.11 Lakh' '₹15.11 Lakh' '₹34 Lakh' '₹1.25 Lakh'
 '₹3.21 Lakh' '₹57 Lakh' '₹7.31 Lakh' '₹16.51 Lakh' '₹1.11 Lakh'
 '₹6.41 Lakh' '₹6.43 Lakh' '₹4.96 Lakh' '₹5.51 Lakh' '₹2.21 Lakh'
 '₹44.50 Lakh' '₹38 Lakh' '₹47 Lakh' '₹1.35 Lakh' '₹1.98 Lakh' '₹89 Lakh'
 '₹2.24 Lakh' '₹19.95 Lakh' '₹10.08 Lakh' '₹2.85 Crore' '₹26 Lakh'
 '₹17.25 Lakh' '₹33.50 Lakh' '₹60 Thousand' '₹48.50 Lakh' '₹16.88 Lakh'
 '₹80.50 Thousand' '₹9.45 Lakh' '₹6.35 Lakh' '₹1.55 Lakh' '₹4.95 Lakh'
 '₹6.93 Lakh' '₹5.88 Lakh' '₹88.59 Thousand' '₹19.75 Lakh' '₹4.64 Lakh'
 '₹5.89 Lakh' '₹21 Thousand' '₹80 Lakh' '₹10.80 Lakh' '₹3.59 Lakh'
 '₹2.99 Lakh' '₹70 Thousand' '₹2.74 Lakh' '₹18.30 Lakh' '₹2.53 Lakh'
 '₹6.24 Lakh' '₹79.99 Lakh' '₹19.60 Lakh' '₹21.99 Lakh' '₹2.12 Lakh'
 '₹2.25 Lakh' '₹56 Lakh' '₹1.30 Lakh' '₹2.95 Crore' '₹23.75 Lakh'
 '₹87 Lakh' '₹15.65 Lakh' '₹2.64 Lakh' '₹1.60 Lakh' '₹5.37 Lakh'
 '₹3.14 Lakh' '₹6.28 Lakh' '₹82 Lakh' '₹44 Lakh' '₹2.88 Crore' '₹64 Lakh'
 '₹2.34 Lakh' '₹10.51 Lakh' '₹14.41 Lakh' '₹2.11 Lakh' '₹9.16 Lakh'
 '₹8.92 Lakh' '₹12.80 Lakh' '₹12.24 Lakh' '₹1.80 Lakh' '₹5.54 Lakh'
 '₹1.45 Crore' '₹1.68 Lakh' '₹8.21 Lakh' '₹1.19 Crore' '₹14.51 Lakh'
 '₹4.46 Lakh' '₹7.67 Lakh' '₹74.50 Lakh' '₹1.90 Lakh' '₹7.52 Lakh'
 '₹3.87 Lakh' '₹16.95 Lakh' '₹15.10 Lakh' '₹12.99 Lakh' '₹2.42 Lakh'
 '₹1.09 Crore' '₹7.26 Lakh' '₹10.72 Lakh' '₹8.51 Lakh' '₹1.49 Lakh'
 '₹11.85 Lakh' '₹81 Lakh' '₹6.51 Lakh' '₹95 Thousand' '₹8.80 Lakh'
 '₹50.90 Lakh' '₹8.04 Lakh' '₹80 Thousand' '₹26.47 Lakh' '₹39 Lakh'
 '₹51 Lakh' '₹1.20 Lakh' '₹9.33 Lakh' '₹13.51 Lakh' '₹2.63 Lakh'
 '₹38.90 Lakh' '₹9.12 Lakh' '₹25.25 Lakh' '₹9.79 Lakh' '₹4.81 Lakh'
 '₹4.36 Lakh' '₹71.99 Lakh' '₹40 Lakh' '₹7.55 Lakh' '₹34.50 Lakh'
 '₹1.85 Crore' '₹54.90 Lakh' '₹24.25 Lakh' '₹17.51 Lakh' '₹2.02 Lakh'
 '₹4.14 Lakh' '₹19.90 Lakh' '₹9.43 Lakh' '₹8.28 Lakh' '₹41 Lakh'
 '₹4.08 Lakh' '₹12.70 Lakh' '₹12.71 Lakh' '₹3.90 Crore' '₹2.44 Lakh'
 '₹2.55 Lakh' '₹16.75 Lakh' '₹3.51 Lakh' '₹90 Lakh' '₹6.94 Lakh'
 '₹88 Lakh' '₹3.37 Lakh' '₹3.97 Lakh']
location [' Bangalore' ' Gurgaon' ' Coimbatore' ' Chennai' ' New Delhi' ' Jaipur']
Registration Year ['Jan 2021' 'Feb 2021' 'Dec 2023' 'Nov 2020' 'Dec 2015' 'Oct 2019'
 'Mar 2018' 'Feb 2015' 'Mar 2021' 'Oct 2017' 'Jun 2015' 'Feb 2010'
 'Jan 2019' 'Jan 2018' 'Jun 2024' 'Jun 2020' 'Jun 2013' 'Mar 2023'
 'Jun 2023' 'Apr 2022' 'Feb 2022' 'Jun 2022' 'Dec 2021' 'Dec 2014'
 'Oct 2022' 'Sept 2014' 'Jan 2022' 'Oct 2021' 'Dec 2020' 'Apr 2023'
 'Jul 2021' 'Jun 2017' 'Aug 2021' 'Feb 2017' 'Aug 2022' 'May 2020'
 'Dec 2018' 'Jun 2021' 'Sept 2022' 'Dec 2022' 'Jul 2022' 'Sept 2016'
 'Jan 2020' 'Jul 2017' 'Feb 2023' 'Apr 2011' 'Nov 2012' 'Jun 2011' '2017'
 'Oct 2018' 'Nov 2014' 'Jun 2019' 'Mar 2024' 'Jun 2016' 'Sept 2017'
 'Nov 2019' 'May 2009' 'Jan 2023' 'Sept 2019' 'Jul 2024' 'Mar 2019'
 'Aug 2020' 'May 2016' 'Mar 2011' 'Nov 2015' 'Jun 2018' 'Nov 2016'
 'Mar 2022' 'Jun 2014' 'Feb 2016' 'Apr 2021' '2016' 'Nov 2022' 'Feb 2014'
 'Jan 2015' 'Jun 2012' 'Mar 2013' 'May 2021' '2022' 'Sept 2013' '2021'
 'May 2015' '2023' 'Dec 2016' 'Nov 2021' 'Mar 2017' 'Oct 2020' 'Apr 2019'
 'Jul 2015' 'Aug 2011' 'Mar 2014' '2015' 'Jan 2016' 'Aug 2013' '2014'
 'Jul 2023' 'Sept 2021' 'Aug 2018' 'May 2019' 'Nov 2023' '2024' 'Jan 2010'
 'Nov 2017' '2018' '2012' 'Mar 2020' 'Aug 2015' 'Oct 2023' 'Apr 2012'
 'Aug 2017' 'Apr 2018' 'Jul 2014' 'Aug 2014' '2020' '2009' 'Mar 2016'
 'Jul 2019' '2010' 'Dec 2019' 'May 2017' '2019' 'Jul 2016' 'Nov 2018'
 'Apr 2017' 'May 2022' 'Jan 2024' 'Jan 2017' 'Jul 2018' 'Oct 2016'
 'Dec 2017' '2008' 'Aug 2016' 'Nov 2008' 'Sept 2023' 'Feb 2012'
 'Sept 2020' 'Mar 2012' 'Apr 2014' '2006' 'Apr 2016' '2013' 'May 2010'
 '2007' 'Aug 2009' 'Sept 2015' 'Aug 2019' 'Dec 2013' 'Oct 2014' 'May 2023'
 'Jan 2025' 'Feb 2019' 'Jul 2020' 'May 2018' 'Feb 2018' 'May 2012'
 'May 2013' 'Mar 2015' 'Dec 2012' 'Dec 2011' 'Jul 2012' '2003' 'Aug 2023'
 'Sept 2009' 'Feb 2020' 'Jan 2014' 'Mar 2007' 'Apr 2015' 'Aug 2012'
 'Oct 2015' 'Apr 2020' 'Feb 2024' '2011' 'Apr 2024' 'Jul 2013' 'Feb 2013'
 'Oct 2011' 'Sept 2018' 'Nov 2009' 'Oct 2012' 'Sept 2010' '2005'
 'Sept 2011' 'Jan 2012' 'Jan 2013' 'Nov 2011' 'May 2014' 'Nov 2006'
 'Aug 2024' 'Oct 2024' 'Nov 2013' 'Apr 2013' 'Jul 2009' 'Dec 2024'
 'Jun 2007' 'Jun 2010' 'Apr 2010' 'Oct 2010' '2004' 'Nov 2024' 'May 2024'
 'Jul 2010' 'May 2011' 'Oct 2013' 'Feb 2011' 'Nov 2010' 'Dec 2009'
 'Apr 2009' 'Jun 2008']
Insurance ['Comprehensive' 'Expired' 'Zero Dep' 'Third Party']
Fuel Type ['Diesel' 'Petrol' 'Electric' 'CNG' 'LPG']
Kms Driven ['12,758 Kms' '9,424 Kms' '3,000 Kms' ... '22,001 Kms' '79,801 Kms'
 '11,535 Kms']
RTO ['Bangalore' 'Mysore' 'Udupi' 'Mangalore' 'KA71' 'Gulbarga' 'Mandya'
 'Dharwad' 'Kolar' 'puttur' 'Kurnool' 'Chennai' 'Gudalur' 'Salem'
 'Coimbatore' 'Poonamallee' 'red hills' 'Gurgaon' 'Kanchipuram' 'hosur'
 'Melur' 'Ranipet' 'Chengalpattu' 'HR98' 'Nagercoil' 'Cuddalore' 'TN97'
 'Virudhunagar' 'Tiruppur' 'Sivaganga' 'Jaipur' 'Pondicherry'
 'Pimpri chinchwad' 'Vellore' 'New Delhi' 'Indore' 'Sulur' 'Madurai'
 'Erode' 'Tirunelveli' 'Tiruchirappalli' 'Murshidabad' 'Noida' 'Auraiya'
 'Thoothukudi' 'Chandigarh' 'Dindigul' 'TB06' 'Lucknow' 'Thanjavur'
 'Periyakulam' 'Srirangam' 'Sivakasi' 'Tiruvallur' 'Udumalaipettai'
 'Tenkasi' 'Pudukkottai' 'Dharmapuri' 'Prakasam' 'Tiruvannamalai'
 'Kashipur' 'Ranga reddy' 'Namakkal' 'Jamnagar' 'Ahmedabad' 'kumbakonam'
 'TG07' 'Viluppuram' 'Attur' 'Doda' 'hansi' 'Nagapattinam' 'Marthandam'
 'Krishnagiri' 'Gobichettipalayam' 'Ghaziabad' 'Jodhpur' 'chomu'
 'kotputli' 'Sri Ganganagar' 'Bhilwara' 'nurpur' 'churu' 'Alwar' 'Udaipur'
 'Jind' 'RJ56' 'RH45' 'Ajmer' 'Sikar' 'bhiwadi' 'Jhunhunu' 'Bikaner'
 'Pali' 'Jhunjhunu' 'sawai madhopur' 'Hanumangarh' 'Nagaur' 'Ranchi'
 'bharatpur' 'Jalore' 'dausa' '240B' 'RJ59' 'RJ58' 'Bundi' 'Navi Mumbai'
 'Kota' 'Bilaspur' 'Mumbai' 'Chittorgarh' 'beawar' 'Hardoi' 'Kishangarh'
 'Mohali' '220B' 'mainpuri' 'barmer' 'jhalawar' 'RJ60' 'dungarpur'
 'shahpura' 'Rohtak' 'Kolkata' 'Bhagalpur' 'Churu' 'Jamshedpur'
 'Jalandhar' 'Sirsa' 'Faridabad' 'sirohi' 'JG01' 'Dholpur' 'baran'
 'Rawatbhata' 'rajsamand' 'DD01' 'tonk' 'Daman' 'Patna' 'Raipur' 'Karauli'
 'giridih' 'Mathura' 'Cuttack' 'Fatehabad' 'ambikapur' 'Aizawl' '230B'
 'Jammu' 'bahadurgarh']
Ownership ['First Owner' 'Second Owner' 'Third Owner' 'Fourth Owner' 'Fifth Owner']

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
encoder=OrdinalEncoder()

In [ ]:
for i in df1.select_dtypes(include='object').columns:
  df1[i]=encoder.fit_transform(df1[[i]])

In [ ]:
df1.corr()

,title,price,location,Registration Year,Insurance,Fuel Type,Kms Driven,RTO,Ownership
title,1.000000,0.008631,0.003246,-0.001409,-0.017474,-0.005825,-0.034655,0.063398,-0.059248
price,0.008631,1.000000,-0.033038,0.038173,0.004666,0.133705,0.008593,-0.002952,-0.116097
location,0.003246,-0.033038,1.000000,-0.029574,0.002684,-0.155250,0.058578,0.312285,0.018177
Registration Year,-0.001409,0.038173,-0.029574,1.000000,-0.293281,0.019489,0.106930,0.024453,-0.100455
Insurance,-0.017474,0.004666,0.002684,-0.293281,1.000000,0.041682,-0.031158,0.006600,0.060727
Fuel Type,-0.005825,0.133705,-0.155250,0.019489,0.041682,1.000000,-0.023997,-0.054820,-0.082497
Kms Driven,-0.034655,0.008593,0.058578,0.106930,-0.031158,-0.023997,1.000000,0.024167,0.065911
RTO,0.063398,-0.002952,0.312285,0.024453,0.006600,-0.054820,0.024167,1.000000,0.015446
Ownership,-0.059248,-0.116097,0.018177,-0.100455,0.060727,-0.082497,0.065911,0.015446,1.000000

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312 entries, 0 to 2311
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              2312 non-null   float64
 1   price              2312 non-null   float64
 2   location           2312 non-null   float64
 3   Registration Year  2312 non-null   float64
 4   Insurance          2312 non-null   float64
 5   Fuel Type          2312 non-null   float64
 6   Kms Driven         2312 non-null   float64
 7   RTO                2312 non-null   float64
 8   Ownership          2312 non-null   float64
dtypes: float64(9)
memory usage: 162.7 KB

In [ ]:
x=df1.drop("price",axis=1)
y=df1["price"]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [ ]:
x_train.shape

(1849, 8)