<a href="https://colab.research.google.com/github/Hemanthk408/Car_rate_prediction/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
B=pd.read_json("/content/car_details_bengalur.json")
C=pd.read_json("/content/car_details_chennai.json")
N=pd.read_json("/content/car_details_New_Delhi.json")
J=pd.read_json("/content/car_details_jaipur.json")

In [6]:
pd.set_option("display.max_columns",None)

In [7]:
B

,title,price,location,Registration Year,Insurance,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture,Engine,Ground Clearance,Power,Seating Capacity,Mileage,Fuel,Drive Type,Top Speed,No. of Airbags,Length,Global NCAP Safety Rating,Boot Space
0,2021 Tata Nexon XZA Plus (O) AMT Diesel,₹9.97 Lakh,"Malleswaram, Bangalore",Jan 2021,Comprehensive,Diesel,5 Seats,"12,758 Kms",Bangalore,First Owner,1497 cc,Automatic,2021,1497 cc,209,108.49 bhp,5,22.07 kmpl,Diesel,NaN,NaN,NaN,NaN,NaN,NaN
1,2021 Kia Sonet HTX Turbo iMT,₹9.98 Lakh,"Yelahanka, Bangalore",Feb 2021,Comprehensive,Petrol,5 Seats,"9,424 Kms",Bangalore,First Owner,998 cc,Automatic,2021,998 cc,NaN,118.35 bhp,NaN,18.2 kmpl,Petrol,2WD,NaN,NaN,NaN,NaN,NaN
2,2023 Audi Q5 Technology,₹72 Lakh,"R T Nagar, Bangalore",Dec 2023,Comprehensive,Petrol,5 Seats,"3,000 Kms",Bangalore,First Owner,1984 cc,Automatic,2023,1984 cc,NaN,245.59 bhp,NaN,NaN,Petrol,AWD,240 kmph,NaN,NaN,NaN,NaN
3,2020 Hyundai i20 Asta Turbo iMT,₹8.39 Lakh,"Yelahanka, Bangalore",Nov 2020,Comprehensive,Petrol,5 Seats,"13,539 Kms",Mysore,First Owner,998 cc,Manual,2020,998 cc,NaN,118.36 bhp,NaN,20 kmpl,Petrol,NaN,NaN,2.0,NaN,NaN,NaN
4,2015 Maruti Celerio VXI AT,₹3.65 Lakh,"Btm Layout, Bangalore",Dec 2015,Comprehensive,Petrol,5 Seats,"57,742 Kms",Bangalore,Second Owner,998 cc,Automatic,2015,998 cc,NaN,67.04 bhp,NaN,23.1 kmpl,Petrol,NaN,NaN,NaN,3715mm,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,2012 Maruti Ritz VXI AT,₹3.15 Lakh,"Malleswaram, Bangalore",Mar 2013,Comprehensive,Petrol,5 Seats,"68,619 Kms",Bangalore,Third Owner,1197 cc,Automatic,2012,1197 cc,NaN,85.80 bhp,NaN,17.16 kmpl,Petrol,NaN,NaN,NaN,3775mm,NaN,NaN
115,2023 Renault Kiger RXZ Turbo CVT,₹9.75 Lakh,"Btm Layout, Bangalore",Mar 2023,Comprehensive,Petrol,5 Seats,"19,496 Kms",Bangalore,First Owner,999 cc,Automatic,2023,999 cc,205,98.63 bhp,NaN,18.24 kmpl,Petrol,NaN,NaN,NaN,NaN,NaN,NaN
116,2022 Hyundai Venue SX BSVI,₹10.99 Lakh,"Bellandur, Bangalore",Jun 2022,Third Party,Petrol,5 Seats,"14,112 Kms",Bangalore,First Owner,1197 cc,Manual,2022,1197 cc,NaN,81.80 bhp,NaN,16 kmpl,Petrol,NaN,NaN,4.0,NaN,NaN,NaN
117,2021 Hyundai Tucson GLS AT,₹22.90 Lakh,"Indiranagar, Bangalore",May 2021,Comprehensive,Petrol,5 Seats,"27,000 Kms",Bangalore,First Owner,1999 cc,Automatic,2021,1999 cc,NaN,150.19 bhp,5,12.95 kmpl,Petrol,NaN,NaN,6.0,NaN,NaN,NaN
118,2023 Tata Harrier XTA Plus AT,₹20.98 Lakh,"Indiranagar, Bangalore",Jan 2023,Third Party,Diesel,5 Seats,"6,050 Kms",Bangalore,First Owner,1956 cc,Automatic,2023,1956 cc,NaN,167.67 bhp,5,14.6 kmpl,Diesel,NaN,NaN,2.0,NaN,NaN,NaN

In [5]:
C

,title,price,location,Registration Year,Insurance,Fuel Type,Seats,Kms Driven,RTO,Ownership,...,Seating Capacity,Ground Clearance,No. of Airbags,Global NCAP Safety Rating,Boot Space,Range,Battery Capacity,Charging Time DC,Charging Time AC,Regenerative Braking Levels
0,2022 Hyundai Alcazar Signature (O) Diesel AT BSVI,₹18.50 Lakh,Chennai,2022,Expired,Diesel,6 Seats,"20,000 Kms",Chennai,First Owner,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013 Mercedes-Benz A Class A180 CDI,₹9.90 Lakh,"Peelamedu, Coimbatore",Sept 2013,Comprehensive,Diesel,5 Seats,"86,251 Kms",Chennai,Second Owner,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014 Volvo XC 90 D5 AT AWD,₹16.50 Lakh,"Ashoknagar, Chennai",Sept 2014,Comprehensive,Diesel,7 Seats,"95,000 Kms",Chennai,First Owner,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019 Hyundai i20 Sportz 1.2,₹5.93 Lakh,"Vadapalani, Chennai",Oct 2019,Comprehensive,Petrol,5 Seats,"36,662 Kms",Chennai,First Owner,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014 Hyundai i20 1.2 Asta Dual Tone,₹4.02 Lakh,"Airport, Chennai",Dec 2014,Comprehensive,Petrol,5 Seats,"93,490 Kms",Chennai,Third Owner,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1316,2015 Maruti Celerio VXI,₹3.75 Lakh,"Ganapathipuram, Chennai",May 2015,Expired,Petrol,5 Seats,"37,400 Kms",Chennai,First Owner,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1317,2018 Ford Ecosport 1.5 Petrol Titanium Plus AT...,₹6.90 Lakh,"Vadapalani, Chennai",Jan 2019,Comprehensive,Petrol,5 Seats,"82,000 Kms",Chennai,First Owner,...,NaN,200mm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1318,2020 Honda City V CVT,₹10.35 Lakh,"Vadapalani, Chennai",Aug 2020,Comprehensive,Petrol,5 Seats,"50,155 Kms",Chennai,First Owner,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1319,2014 Maruti Celerio VXI AMT,₹3.01 Lakh,"Chromepet, Chennai",Sept 2014,Third Party,Petrol,5 Seats,"67,070 Kms",Chennai,Second Owner,...,NaN,NaN,NaN,0 Star,313 Litres,NaN,NaN,NaN,NaN,NaN
1320,2017 Honda Jazz 1.2 V AT i VTEC,₹4.75 Lakh,"Ganapathipuram, Chennai",Apr 2017,Comprehensive,Petrol,5 Seats,"80,180 Kms",Chennai,Second Owner,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
B.columns

Index(['title', 'price', 'location', 'Registration Year', 'Insurance',
       'Fuel Type', 'Seats', 'Kms Driven', 'RTO', 'Ownership',
       'Engine Displacement', 'Transmission', 'Year of Manufacture', 'Engine',
       'Ground Clearance', 'Power', 'Seating Capacity', 'Mileage', 'Fuel',
       'Drive Type', 'Top Speed', 'No. of Airbags', 'Length',
       'Global NCAP Safety Rating', 'Boot Space'],
      dtype='object')

In [12]:
import pandas as pd

# Load your tables (assuming they are CSVs)
B=pd.read_json("/content/car_details_bengalur.json")
C=pd.read_json("/content/car_details_chennai.json")
N=pd.read_json("/content/car_details_New_Delhi.json")
J=pd.read_json("/content/car_details_jaipur.json")

# Define the required columns
columns_to_keep = ['title', 'price', 'location', 'Registration Year', 'Insurance',
                   'Fuel Type','Kms Driven', 'RTO', 'Ownership']

In [14]:

# Select only required columns from each dataframe
df1 = B[columns_to_keep]
df2 = C[columns_to_keep]
df3 = N[columns_to_keep]
df4 = J[columns_to_keep]

# Merge all dataframes
merged_df = pd.concat([df1, df2, df3, df4], ignore_index=True)

# Save the final dataframe
merged_df.to_csv('merged_data.csv', index=False)

print("Merged dataset saved successfully!")

Merged dataset saved successfully!

In [15]:
merged_df

,title,price,location,Registration Year,Insurance,Fuel Type,Kms Driven,RTO,Ownership
0,2021 Tata Nexon XZA Plus (O) AMT Diesel,₹9.97 Lakh,"Malleswaram, Bangalore",Jan 2021,Comprehensive,Diesel,"12,758 Kms",Bangalore,First Owner
1,2021 Kia Sonet HTX Turbo iMT,₹9.98 Lakh,"Yelahanka, Bangalore",Feb 2021,Comprehensive,Petrol,"9,424 Kms",Bangalore,First Owner
2,2023 Audi Q5 Technology,₹72 Lakh,"R T Nagar, Bangalore",Dec 2023,Comprehensive,Petrol,"3,000 Kms",Bangalore,First Owner
3,2020 Hyundai i20 Asta Turbo iMT,₹8.39 Lakh,"Yelahanka, Bangalore",Nov 2020,Comprehensive,Petrol,"13,539 Kms",Mysore,First Owner
4,2015 Maruti Celerio VXI AT,₹3.65 Lakh,"Btm Layout, Bangalore",Dec 2015,Comprehensive,Petrol,"57,742 Kms",Bangalore,Second Owner
...,...,...,...,...,...,...,...,...,...
2307,2018 Mahindra XUV500 W11 FWD Diesel,₹12.50 Lakh,"Nirman Nagar, Jaipur",Jul 2018,Comprehensive,Diesel,"75,000 Kms",Jaipur,First Owner
2308,2015 Maruti Ciaz VDi Plus,₹3.97 Lakh,"Mansarovar, Jaipur",2015,Expired,Diesel,"1,00,000 Kms",NaN,Second Owner
2309,2022 Kia Sonet X-Line Diesel AT,₹13 Lakh,"Nirman Nagar, Jaipur",Sept 2022,Comprehensive,Diesel,"24,000 Kms",Jaipur,First Owner
2310,2022 Tata Tiago XZA AMT,₹6.40 Lakh,"Mansarovar, Jaipur",May 2022,Comprehensive,Petrol,"11,535 Kms",Jaipur,First Owner
2311,2016 Audi Q3 35 TDI Quattro Premium Plus,₹15.25 Lakh,"Nirman Nagar, Jaipur",Oct 2016,Comprehensive,Diesel,"81,000 Kms",RJ60,Second Owner

In [21]:
df=merged_df[["title","location"]]

df["Car_name"]=df["title"].str.split(' ',n=1).str[1]

df["state"]=df["location"].str.split("  ",n=1).str[1]

df[["Car_name","location"]]

df

<ipython-input-21-3328124cef42>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Car_name"]=df["title"].str.split(' ',n=1).str[1]
<ipython-input-21-3328124cef42>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["state"]=df["location"].str.split("  ",n=1).str[1]

,title,location,Car_name,state
0,2021 Tata Nexon XZA Plus (O) AMT Diesel,"Malleswaram, Bangalore",Tata Nexon XZA Plus (O) AMT Diesel,NaN
1,2021 Kia Sonet HTX Turbo iMT,"Yelahanka, Bangalore",Kia Sonet HTX Turbo iMT,NaN
2,2023 Audi Q5 Technology,"R T Nagar, Bangalore",Audi Q5 Technology,NaN
3,2020 Hyundai i20 Asta Turbo iMT,"Yelahanka, Bangalore",Hyundai i20 Asta Turbo iMT,NaN
4,2015 Maruti Celerio VXI AT,"Btm Layout, Bangalore",Maruti Celerio VXI AT,NaN
...,...,...,...,...
2307,2018 Mahindra XUV500 W11 FWD Diesel,"Nirman Nagar, Jaipur",Mahindra XUV500 W11 FWD Diesel,NaN
2308,2015 Maruti Ciaz VDi Plus,"Mansarovar, Jaipur",Maruti Ciaz VDi Plus,NaN
2309,2022 Kia Sonet X-Line Diesel AT,"Nirman Nagar, Jaipur",Kia Sonet X-Line Diesel AT,NaN
2310,2022 Tata Tiago XZA AMT,"Mansarovar, Jaipur",Tata Tiago XZA AMT,NaN
2311,2016 Audi Q3 35 TDI Quattro Premium Plus,"Nirman Nagar, Jaipur",Audi Q3 35 TDI Quattro Premium Plus,NaN

In [24]:
# Select required columns
df = merged_df[["title", "location"]].copy()

# Extract the car name (removes the year)
df["Car_name"] = df["title"].str.split(' ', n=1).str[1]

# Extract the state (splitting by ", ")
df["State"] = df["location"].str.split(", ", n=1).str[1]

# If you only want 'Car_name' and 'location'
df = df[["Car_name", "State"]]

print(df.head())  # Check the output

                             Car_name      State
0  Tata Nexon XZA Plus (O) AMT Diesel  Bangalore
1             Kia Sonet HTX Turbo iMT  Bangalore
2                  Audi Q5 Technology  Bangalore
3          Hyundai i20 Asta Turbo iMT  Bangalore
4               Maruti Celerio VXI AT  Bangalore