<a href="https://colab.research.google.com/github/Hemanthk408/Car_rate_prediction/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
B=pd.read_json("/content/car_details_bengalur.json")
C=pd.read_json("/content/car_details_chennai.json")
N=pd.read_json("/content/car_details_New_Delhi.json")
J=pd.read_json("/content/car_details_jaipur.json")

In [3]:
pd.set_option("display.max_columns",None)

In [4]:
import pandas as pd

# Load your tables (assuming they are CSVs)
B=pd.read_json("/content/car_details_bengalur.json")
C=pd.read_json("/content/car_details_chennai.json")
N=pd.read_json("/content/car_details_New_Delhi.json")
J=pd.read_json("/content/car_details_jaipur.json")

# Define the required columns
columns_to_keep = ['title', 'price', 'location', 'Registration Year', 'Insurance',
                   'Fuel Type','Kms Driven', 'RTO', 'Ownership']

In [5]:

# Select only required columns from each dataframe
df1 = B[columns_to_keep]
df2 = C[columns_to_keep]
df3 = N[columns_to_keep]
df4 = J[columns_to_keep]

# Merge all dataframes
merged_df = pd.concat([df1, df2, df3, df4], ignore_index=True)

# Save the final dataframe
merged_df.to_csv('merged_data.csv', index=False)

print("Merged dataset saved successfully!")

Merged dataset saved successfully!

In [6]:
merged_df

,title,price,location,Registration Year,Insurance,Fuel Type,Kms Driven,RTO,Ownership
0,2021 Tata Nexon XZA Plus (O) AMT Diesel,₹9.97 Lakh,"Malleswaram, Bangalore",Jan 2021,Comprehensive,Diesel,"12,758 Kms",Bangalore,First Owner
1,2021 Kia Sonet HTX Turbo iMT,₹9.98 Lakh,"Yelahanka, Bangalore",Feb 2021,Comprehensive,Petrol,"9,424 Kms",Bangalore,First Owner
2,2023 Audi Q5 Technology,₹72 Lakh,"R T Nagar, Bangalore",Dec 2023,Comprehensive,Petrol,"3,000 Kms",Bangalore,First Owner
3,2020 Hyundai i20 Asta Turbo iMT,₹8.39 Lakh,"Yelahanka, Bangalore",Nov 2020,Comprehensive,Petrol,"13,539 Kms",Mysore,First Owner
4,2015 Maruti Celerio VXI AT,₹3.65 Lakh,"Btm Layout, Bangalore",Dec 2015,Comprehensive,Petrol,"57,742 Kms",Bangalore,Second Owner
...,...,...,...,...,...,...,...,...,...
2307,2018 Mahindra XUV500 W11 FWD Diesel,₹12.50 Lakh,"Nirman Nagar, Jaipur",Jul 2018,Comprehensive,Diesel,"75,000 Kms",Jaipur,First Owner
2308,2015 Maruti Ciaz VDi Plus,₹3.97 Lakh,"Mansarovar, Jaipur",2015,Expired,Diesel,"1,00,000 Kms",NaN,Second Owner
2309,2022 Kia Sonet X-Line Diesel AT,₹13 Lakh,"Nirman Nagar, Jaipur",Sept 2022,Comprehensive,Diesel,"24,000 Kms",Jaipur,First Owner
2310,2022 Tata Tiago XZA AMT,₹6.40 Lakh,"Mansarovar, Jaipur",May 2022,Comprehensive,Petrol,"11,535 Kms",Jaipur,First Owner
2311,2016 Audi Q3 35 TDI Quattro Premium Plus,₹15.25 Lakh,"Nirman Nagar, Jaipur",Oct 2016,Comprehensive,Diesel,"81,000 Kms",RJ60,Second Owner

In [7]:
# Select required columns
df = merged_df[["title", "location"]]

# Extract the car name (removes the year)
df["Car_name"] = df["title"].str.split(' ', n=1).str[1]

# Extract the state (splitting by ", ")
df["City"] = df["location"].str.split(", ", n=1).str[1]

# If you only want 'Car_name' and 'location'
df = df[["Car_name", "City"]]

print(df.head())  # Check the output

                             Car_name       City
0  Tata Nexon XZA Plus (O) AMT Diesel  Bangalore
1             Kia Sonet HTX Turbo iMT  Bangalore
2                  Audi Q5 Technology  Bangalore
3          Hyundai i20 Asta Turbo iMT  Bangalore
4               Maruti Celerio VXI AT  Bangalore

<ipython-input-7-772670ab9e40>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Car_name"] = df["title"].str.split(' ', n=1).str[1]
<ipython-input-7-772670ab9e40>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["City"] = df["location"].str.split(", ", n=1).str[1]

In [8]:
df

                                 Car_name       City
0      Tata Nexon XZA Plus (O) AMT Diesel  Bangalore
1                 Kia Sonet HTX Turbo iMT  Bangalore
2                      Audi Q5 Technology  Bangalore
3              Hyundai i20 Asta Turbo iMT  Bangalore
4                   Maruti Celerio VXI AT  Bangalore
...                                   ...        ...
2307       Mahindra XUV500 W11 FWD Diesel     Jaipur
2308                 Maruti Ciaz VDi Plus     Jaipur
2309           Kia Sonet X-Line Diesel AT     Jaipur
2310                   Tata Tiago XZA AMT     Jaipur
2311  Audi Q3 35 TDI Quattro Premium Plus     Jaipur

[2312 rows x 2 columns]

In [ ]:
merged_df

,title,price,location,Registration Year,Insurance,Fuel Type,Kms Driven,RTO,Ownership
0,2021 Tata Nexon XZA Plus (O) AMT Diesel,₹9.97 Lakh,"Malleswaram, Bangalore",Jan 2021,Comprehensive,Diesel,"12,758 Kms",Bangalore,First Owner
1,2021 Kia Sonet HTX Turbo iMT,₹9.98 Lakh,"Yelahanka, Bangalore",Feb 2021,Comprehensive,Petrol,"9,424 Kms",Bangalore,First Owner
2,2023 Audi Q5 Technology,₹72 Lakh,"R T Nagar, Bangalore",Dec 2023,Comprehensive,Petrol,"3,000 Kms",Bangalore,First Owner
3,2020 Hyundai i20 Asta Turbo iMT,₹8.39 Lakh,"Yelahanka, Bangalore",Nov 2020,Comprehensive,Petrol,"13,539 Kms",Mysore,First Owner
4,2015 Maruti Celerio VXI AT,₹3.65 Lakh,"Btm Layout, Bangalore",Dec 2015,Comprehensive,Petrol,"57,742 Kms",Bangalore,Second Owner
...,...,...,...,...,...,...,...,...,...
2307,2018 Mahindra XUV500 W11 FWD Diesel,₹12.50 Lakh,"Nirman Nagar, Jaipur",Jul 2018,Comprehensive,Diesel,"75,000 Kms",Jaipur,First Owner
2308,2015 Maruti Ciaz VDi Plus,₹3.97 Lakh,"Mansarovar, Jaipur",2015,Expired,Diesel,"1,00,000 Kms",NaN,Second Owner
2309,2022 Kia Sonet X-Line Diesel AT,₹13 Lakh,"Nirman Nagar, Jaipur",Sept 2022,Comprehensive,Diesel,"24,000 Kms",Jaipur,First Owner
2310,2022 Tata Tiago XZA AMT,₹6.40 Lakh,"Mansarovar, Jaipur",May 2022,Comprehensive,Petrol,"11,535 Kms",Jaipur,First Owner
2311,2016 Audi Q3 35 TDI Quattro Premium Plus,₹15.25 Lakh,"Nirman Nagar, Jaipur",Oct 2016,Comprehensive,Diesel,"81,000 Kms",RJ60,Second Owner

In [29]:
df1=pd.read_csv("/content/merged_data.csv")
df1

,title,price,location,Registration Year,Insurance,Fuel Type,Kms Driven,RTO,Ownership
0,2021 Tata Nexon XZA Plus (O) AMT Diesel,₹9.97 Lakh,"Malleswaram, Bangalore",Jan 2021,Comprehensive,Diesel,"12,758 Kms",Bangalore,First Owner
1,2021 Kia Sonet HTX Turbo iMT,₹9.98 Lakh,"Yelahanka, Bangalore",Feb 2021,Comprehensive,Petrol,"9,424 Kms",Bangalore,First Owner
2,2023 Audi Q5 Technology,₹72 Lakh,"R T Nagar, Bangalore",Dec 2023,Comprehensive,Petrol,"3,000 Kms",Bangalore,First Owner
3,2020 Hyundai i20 Asta Turbo iMT,₹8.39 Lakh,"Yelahanka, Bangalore",Nov 2020,Comprehensive,Petrol,"13,539 Kms",Mysore,First Owner
4,2015 Maruti Celerio VXI AT,₹3.65 Lakh,"Btm Layout, Bangalore",Dec 2015,Comprehensive,Petrol,"57,742 Kms",Bangalore,Second Owner
...,...,...,...,...,...,...,...,...,...
2307,2018 Mahindra XUV500 W11 FWD Diesel,₹12.50 Lakh,"Nirman Nagar, Jaipur",Jul 2018,Comprehensive,Diesel,"75,000 Kms",Jaipur,First Owner
2308,2015 Maruti Ciaz VDi Plus,₹3.97 Lakh,"Mansarovar, Jaipur",2015,Expired,Diesel,"1,00,000 Kms",NaN,Second Owner
2309,2022 Kia Sonet X-Line Diesel AT,₹13 Lakh,"Nirman Nagar, Jaipur",Sept 2022,Comprehensive,Diesel,"24,000 Kms",Jaipur,First Owner
2310,2022 Tata Tiago XZA AMT,₹6.40 Lakh,"Mansarovar, Jaipur",May 2022,Comprehensive,Petrol,"11,535 Kms",Jaipur,First Owner
2311,2016 Audi Q3 35 TDI Quattro Premium Plus,₹15.25 Lakh,"Nirman Nagar, Jaipur",Oct 2016,Comprehensive,Diesel,"81,000 Kms",RJ60,Second Owner

In [30]:
# Remove year from 'title'
df1['title'] = df1['title'].str.replace(r'\b\d{4}\b', '', regex=True).str.strip()

# Extract only the city name from 'location'
df1['location'] = df1['location'].str.split(',').str[1]

# Display the modified DataFrame
print(df1.head())

                                title       price    location  \
0  Tata Nexon XZA Plus (O) AMT Diesel  ₹9.97 Lakh   Bangalore
1             Kia Sonet HTX Turbo iMT  ₹9.98 Lakh   Bangalore
2                  Audi Q5 Technology    ₹72 Lakh   Bangalore
3          Hyundai i20 Asta Turbo iMT  ₹8.39 Lakh   Bangalore
4               Maruti Celerio VXI AT  ₹3.65 Lakh   Bangalore

  Registration Year      Insurance Fuel Type  Kms Driven        RTO  \
0          Jan 2021  Comprehensive    Diesel  12,758 Kms  Bangalore
1          Feb 2021  Comprehensive    Petrol   9,424 Kms  Bangalore
2          Dec 2023  Comprehensive    Petrol   3,000 Kms  Bangalore
3          Nov 2020  Comprehensive    Petrol  13,539 Kms     Mysore
4          Dec 2015  Comprehensive    Petrol  57,742 Kms  Bangalore

      Ownership
0   First Owner
1   First Owner
2   First Owner
3   First Owner
4  Second Owner

In [19]:
df1

,title,price,location,Registration Year,Insurance,Fuel Type,Kms Driven,RTO,Ownership
0,Tata Nexon XZA Plus (O) AMT Diesel,₹9.97 Lakh,Bangalore,Jan 2021,Comprehensive,Diesel,"12,758 Kms",Bangalore,First Owner
1,Kia Sonet HTX Turbo iMT,₹9.98 Lakh,Bangalore,Feb 2021,Comprehensive,Petrol,"9,424 Kms",Bangalore,First Owner
2,Audi Q5 Technology,₹72 Lakh,Bangalore,Dec 2023,Comprehensive,Petrol,"3,000 Kms",Bangalore,First Owner
3,Hyundai i20 Asta Turbo iMT,₹8.39 Lakh,Bangalore,Nov 2020,Comprehensive,Petrol,"13,539 Kms",Mysore,First Owner
4,Maruti Celerio VXI AT,₹3.65 Lakh,Bangalore,Dec 2015,Comprehensive,Petrol,"57,742 Kms",Bangalore,Second Owner
...,...,...,...,...,...,...,...,...,...
2307,Mahindra XUV500 W11 FWD Diesel,₹12.50 Lakh,Jaipur,Jul 2018,Comprehensive,Diesel,"75,000 Kms",Jaipur,First Owner
2308,Maruti Ciaz VDi Plus,₹3.97 Lakh,Jaipur,2015,Expired,Diesel,"1,00,000 Kms",NaN,Second Owner
2309,Kia Sonet X-Line Diesel AT,₹13 Lakh,Jaipur,Sept 2022,Comprehensive,Diesel,"24,000 Kms",Jaipur,First Owner
2310,Tata Tiago XZA AMT,₹6.40 Lakh,Jaipur,May 2022,Comprehensive,Petrol,"11,535 Kms",Jaipur,First Owner
2311,Audi Q3 35 TDI Quattro Premium Plus,₹15.25 Lakh,Jaipur,Oct 2016,Comprehensive,Diesel,"81,000 Kms",RJ60,Second Owner

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312 entries, 0 to 2311
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              2312 non-null   object
 1   price              2312 non-null   object
 2   location           2062 non-null   object
 3   Registration Year  2304 non-null   object
 4   Insurance          2312 non-null   object
 5   Fuel Type          2312 non-null   object
 6   Kms Driven         2312 non-null   object
 7   RTO                2237 non-null   object
 8   Ownership          2306 non-null   object
dtypes: object(9)
memory usage: 162.7+ KB

In [21]:
df1["title"].nunique()

1279

In [32]:
df1.ffill(inplace=True)

In [26]:
data=pd.DataFrame(df1)

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312 entries, 0 to 2311
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              2312 non-null   object
 1   price              2312 non-null   object
 2   location           2312 non-null   object
 3   Registration Year  2312 non-null   object
 4   Insurance          2312 non-null   object
 5   Fuel Type          2312 non-null   object
 6   Kms Driven         2312 non-null   object
 7   RTO                2312 non-null   object
 8   Ownership          2312 non-null   object
dtypes: object(9)
memory usage: 162.7+ KB